<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Vue - Boolflix</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js" charset="utf-8"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
        <link rel="stylesheet" href="style.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Raleway&family=Roboto+Condensed:ital,wght@1,300&display=swap" rel="stylesheet">
    </head>
    <body>

        <div class="container" id="root">

            <!-- __________________HEADER_________________ -->
            <header class="header">

                <div class="header-left">
                    <div class="logo">
                        <h1>Boolflix</h1>
                    </div>
                    <div class="header-btn all" @click="showAll()">
                        <h2 :class="allcategories_active ? '' : 'not-selected'">Tutte le categorie</h2>
                        <div class="red-bar" :class="allcategories_active ? 'active' : ''">

                        </div>
                    </div>
                    <div class="header-btn movie" @click="showMovies()">
                        <h2 :class="movies_active ? '' : 'not-selected'">Film</h2>
                        <div class="red-bar" :class="movies_active ? 'active' : ''">

                        </div>
                    </div>
                    <div class="header-btn tvshows" :class="allcategories_active ? '' : 'not-selected'" @click="showTVShows()">
                        <h2 :class="tvshows_active ? '' : 'not-selected'">Serie TV</h2>
                        <div class="red-bar" :class="tvshows_active ? 'active' : ''">

                        </div>
                    </div>
                </div>

                <div class="searchbar">
                    <input v-model="title_searched" type="text" class="search-input" @keyup.enter="titleRequest()">
                    <div class="search-btn">
                        <span class="" @click="titleRequest()">Cerca</span>
                    </div>
                </div>

            </header>

            <!-- __________________RISULTATI_RICERCHE__________________ -->
            <h3 v-if="loading_movies">Ricerca film in corso...</h3>
            <h3 v-if="loading_tvshows">Ricerca serie tv in corso...</h3>

            <div class="results" v-if="title_searched_support.length > 0">
                <h3>Risultati della ricerca: '{{title_searched_support}}'</h3>

                <h3 v-if="no_results_movies && movies_active">Nessun film trovato...</h3>
                <h3 v-if="no_results_tvshows && tvshows_active">Nessuna serie tv trovata...</h3>
            </div>

            <!-- __________________PAGINA_INIZIALE__________________ -->
            <div v-if="first_page_load" class="starting-page">
                <h1 class="logo">Boolflix</h1>
                <h2>Cerca film e/o serie tv!</h2>
            </div>

            <!-- __________________TITOLI_CATEGORIE__________________ -->
            <h2 class="category-title" v-if="((movies.length > 0 || tvshows.length) && allcategories_active)">Tutte le categorie</h2>
            <h2 class="category-title" v-if="movies.length > 0 && movies_active">Film</h2>
            <h2 v-if="tvshows.length > 0 && tvshows_active">Serie TV</h2>



            <!-- __________________CONTENITORE_CARDS__________________ -->
            <div class="cards-container" >

                <!-- __________________SEZIONE_DEDICATA_AI_FILM__________________ -->
                <!-- __________________CARD__________________ -->
                <div class="card  movie" :class="!movies_active && !allcategories_active ? 'hidden' : ''" v-for="(movie,index) in movies">

                    <!-- __________________COVER__________________ -->
                    <div class="card-cover">
                        <img :src="cover_starting_url + cover_size + movie.poster_path" alt="" v-if="movie.poster_path != null">
                        <img src="no_cover/no_cover.jpg" alt="" v-else>
                    </div>

                    <!-- __________________SHOWED_INFO__________________ -->
                    <div class="card-info">

                        <div class="italian-title">
                            <span class="span1">Titolo italiano: </span>
                            <span class="span2">{{movie.title}}</span>
                        </div>
                        <div class="original-title">
                            <span class="span1">Titolo originale: </span>
                            <span class="span2">{{movie.original_title}}</span>
                        </div>

                        <div class="language-flag">
                            <span class="span1">Lingua originale: </span>
                            <span class="span2" v-if="!known_languages.includes(movie.original_language)">{{movie.original_language}}</span>
                            <img v-else :src="getLanguageFlag(movie)" :alt="movie.original_language">
                        </div>

                        <div class="vote">
                            <span class="span1">Voto: </span>
                            <i v-if="getVote(movie)" class="fa-star" :class="i <= getVote(movie) ? 'fas' : 'far'" v-for="i in max_vote"></i>
                            <span class="span2" v-if="getVote(movie) == 0"><strong>N/A</strong></span>
                        </div>

                        <div class="overview">
                            <span class="span1">Trama: </span>
                            <span class="span2" v-if="movie.overview.length > 100">{{movie.overview.slice(0, 99)}}[...]</span>
                            <span v-if="movie.overview.length <= 100" class="span2">{{movie.overview}}</span>
                            <span class="span2" v-if="movie.overview == ''">Non disponibile</span>
                        </div>
                        <div class="info-btn">
                            <span @click="showMoreInfo(index);getActors(movie.id);">Visualizzza più informazioni</span>
                        </div>

                    </div>

                </div>
                <!-- __________________CARD_CHIUSA__________________ -->

                <!-- __________________HIDDEN_ INFO_MOVIE__________________ -->
                <div v-if="movies.length > 0" class="hidden-info" :class="hidden_info.clicked_flag ? 'active' : ''">

                    <div class="quit-info">
                        <i @click="showMoreInfo(hidden_info.info_index)" class="fas fa-undo-alt"></i>
                    </div>

                    <div class="hidden-cover">
                        <img :src="cover_starting_url + cover_size + movies[hidden_info.info_index].poster_path" alt="" v-if="movies[hidden_info.info_index].poster_path != null">
                        <img src="no_cover/no_cover.jpg" alt="" v-else>
                    </div>

                    <div class="italian-title">
                        <span class="span1">Titolo italiano: </span>
                        <span class="span2">{{movies[hidden_info.info_index].title}}</span>
                    </div>

                    <div class="original-title">
                        <span class="span1">Titolo originale: </span>
                        <span class="span2">{{movies[hidden_info.info_index].original_title}}</span>
                    </div>

                    <div class="language-flag">
                        <span class="span1">Lingua originale: </span>
                        <span class="span2" v-if="!known_languages.includes(movies[hidden_info.info_index].original_language)">{{movies[hidden_info.info_index].original_language}}</span>
                        <img v-else :src="getLanguageFlag(movies[hidden_info.info_index])" :alt="movies[hidden_info.info_index].original_language">
                    </div>

                    <div class="vote">
                        <span class="span1">Voto: </span>
                            <i v-if="getVote(movies[hidden_info.info_index]) > 0" class="fa-star" :class="i <= getVote(movies[hidden_info.info_index]) ? 'fas' : 'far'" v-for="i in max_vote"></i>
                        <span class="span2" v-if="getVote(movies[hidden_info.info_index]) == 0"><strong>N/A</strong></span>
                    </div>

                    <div class="genres">
                        <span class="span1">Generi: </span>
                        <span v-for="genre in movies_genres_names[hidden_info.info_index]" class="span2">[{{genre}}]  </span>
                    </div>

                    <div class="overview">
                        <span class="span1">Trama: </span>
                        <span class="span2" v-if="movies[hidden_info.info_index].overview == ''">Non disponibile</span>
                        <span class="span2" v-else>{{movies[hidden_info.info_index].overview}}</span>
                    </div>

                    <div class="cast">
                        <span class="span1">Nel cast: </span>
                        <span v-if="current_actors.length > 0" class="span2" v-for="actor in current_actors">{{actor}}<span v-if="current_actors.indexOf(actor) < (current_actors.length - 1)">, </span><span v-else></span> </span>
                        <span class="span2" v-if="loading_actors">Caricamento cast...</span>
                        <span class="span2" v-if="current_actors.length == 0 && loading_actors == false">Non disponibile</span>
                    </div>

                </div>
            <!-- __________________FINE_SEZIONE_DEDICATA_AI_FILM__________________ -->

            <!-- __________________SEZIONE_DEDICATA_ALLE_SERIE_TV__________________ -->
                <div class="card tvshows" :class="!tvshows_active && !allcategories_active ? 'hidden' : ''" v-for="(show, index) in tvshows" vi-if="tvshows_active">

                    <div class="card-cover">
                        <img :src="cover_starting_url + cover_size + show.poster_path" alt="" v-if="show.poster_path != null">
                        <img src="no_cover/no_cover.jpg" alt="" v-else>
                    </div>

                    <div class="card-info">
                        <div class="italian-title">
                            <span>Titolo italiano: </span>
                            <h4>{{show.name}}</h4>
                        </div>
                        <div class="original-title">
                            <span>Titolo originale: </span>
                            <h4>{{show.original_name}}</h4>
                        </div>


                        <div class="language-flag">
                            <span>Lingua originale: </span>
                            <span v-if="!known_languages.includes(show.original_language)">{{show.original_language}}</span>
                            <img v-else :src="getLanguageFlag(show)" :alt="show.original_language">
                        </div>

                        <div class="vote">
                            <span>Voto: </span>
                            <i v-if="getVote(show) > 0" class="fa-star" :class="i <= getVote(show) ? 'fas' : 'far'" v-for="i in max_vote"></i>
                            <span v-if="getVote(show) == 0"><strong>N/A</strong></span>
                        </div>

                        <div class="overview">
                            <span class="span1">Trama: </span>
                            <span class="span2" v-if="show.overview.length > 100">{{show.overview.slice(0, 99)}}[...]</span>
                            <span v-if="show.overview.length <= 100" class="span2">{{show.overview}}</span>
                            <span class="span2" v-if="show.overview == ''">Non disponibile</span>
                        </div>
                        <!--  -->
                        <div class="info-btn" >
                            <span @click="showMoreInfoShows(index);getActorsShow(show.id);">Visualizzza più informazioni</span>
                        </div>
                    </div>
                </div>

                <!-- __________________HIDDEN_INFO_SERIETV__________________ -->
                <div v-if="tvshows.length > 0" class="hidden-info" :class="hidden_info_shows.clicked_flag ? 'active' : ''">

                    <div class="quit-info">
                        <i @click="showMoreInfoShows(hidden_info_shows.info_index)" class="fas fa-undo-alt"></i>
                    </div>

                    <div class="hidden-cover">
                        <img :src="cover_starting_url + cover_size + tvshows[hidden_info_shows.info_index].poster_path" alt="" v-if="tvshows[hidden_info_shows.info_index].poster_path != null">
                        <img src="no_cover/no_cover.jpg" alt="" v-else>
                    </div>

                    <div class="italian-title">
                        <span class="span1">Titolo italiano: </span>
                        <span class="span2">{{tvshows[hidden_info_shows.info_index].name}}</span>
                    </div>

                    <div class="original-title">
                        <span class="span1">Titolo originale: </span>
                        <span class="span2">{{tvshows[hidden_info_shows.info_index].original_name}}</span>
                    </div>

                    <div class="language-flag">
                        <span class="span1">Lingua originale: </span>
                        <span class="span2" v-if="!known_languages.includes(tvshows[hidden_info_shows.info_index].original_language)">{{tvshows[hidden_info_shows.info_index].original_language}}</span>
                        <img v-else :src="getLanguageFlag(tvshows[hidden_info_shows.info_index])" :alt="tvshows[hidden_info_shows.info_index].original_language">
                    </div>

                    <div class="vote">
                        <span class="span1">Voto: </span>
                            <i v-if="getVote(tvshows[hidden_info_shows.info_index]) > 0" class="fa-star" :class="i <= getVote(tvshows[hidden_info_shows.info_index]) ? 'fas' : 'far'" v-for="i in max_vote"></i>
                        <span class="span2" v-if="getVote(tvshows[hidden_info_shows.info_index]) == 0"><strong>N/A</strong></span>
                    </div>

                    <div class="overview">
                        <span class="span1">Trama: </span>
                        <span class="span2" v-if="tvshows[hidden_info_shows.info_index].overview == ''">Non disponibile</span>
                        <span class="span2" v-else>{{tvshows[hidden_info_shows.info_index].overview}}</span>
                    </div>

                    <div class="cast">
                        <span class="span1">Nel cast: </span>
                        <span v-if="current_actors.length > 0" class="span2" v-for="actor in current_actors">{{actor}}<span v-if="current_actors.indexOf(actor) < (current_actors.length - 1)">, </span><span v-else></span> </span>
                        <span class="span2" v-if="loading_actors">Caricamento cast...</span>
                        <span class="span2" v-if="current_actors.length == 0 && loading_actors == false">non disponibile.</span>
                    </div>

                </div>
                <!-- ________________FINE_SEZIONE_DEDICATA_ALLE_SERIE_TV_______________ -->

            </div>
            <!-- __________________FINE_CONTENITORE_CARTE__________________ -->

        </div>

        <script src="main.js" charset="utf-8"></script>
    </body>
</html>
